@(group: models.schema2.Group)(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@main("Group info") {
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@routes.Groups.index">Group</a></li>
    <li class="active">@group.name</li>
  </ul>

  <div class="page-header">
    <h1>Group</h1>
  </div>
  <div class="col-lg-8">
    <dl class="dl-horizontal">
      <dt>@Messages("activerecord.models.Group.name")</dt>
      <dd>@group.name</dd>
    </dl>

    <div class="well">
      <a href="@routes.Groups.index" class="btn btn-default">Back</a>
      <a href="@routes.Groups.edit(group.id)" class="btn btn-default">Edit</a>
      @helpers.deleteButton(routes.Groups.delete(group.id), routes.Groups.index)
    </div>
  </div>
}
