@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>

    <!-- Le styles -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <script type="text/javascript">
      $(document).ready(function(){
        $((location.href.indexOf("/user") != -1) ? "#menu_user" : "#menu_home").addClass("active");

        $(".btn-danger").click(function(){
          var result = confirm("Are you sure?");
          var self = $(this);
          if (result) {
            $.ajax({
              url : self.data("target"),
              type: "DELETE",
              success: function(e) {
                location.href = self.data("redirect");
              }
            });
          }
          false;
        });
      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Play! 2.2 Sample</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li id="menu_home"><a href="/">Home</a></li>
            <li id="menu_user"><a href="@routes.Users.index">User</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      @content
    </div><!-- /container -->
  </body>
</html>
