@(title: String)(content: Html)(implicit flash: Flash = Flash(), webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title</title>

    <!-- Le styles -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <script type="text/javascript">
      $(document).ready(function(){
        $("#menu li").each(function() {
          if (location.href.indexOf($(this).find("a").attr("href")) >= 0) {
            $(this).addClass("active");
            return false;
          }
        });

        $(".btn-danger").click(function(){
          var result = confirm("Are you sure?");
          var self = $(this);
          if (result) {
            $.ajax({
              url : self.data("target"),
              type: "DELETE",
              success: function(e) {
                location.href = self.data("redirect");
              }
            });
          }
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Play! 2.5 Sample</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav" id="menu">
            <li><a href="@routes.Users.index">User</a></li>
            <li><a href="@routes.Magazines.index">Magazine</a></li>
            <li><a href="@routes.Questions.newPage">Question</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      @flash.get("success").map { message =>
      <div class="alert alert-success">@message
        <div>
          <pre>
          @flash.get("message")
          </pre>
        </div>
      </div>
      }
      @content
    </div><!-- /container -->
  </body>
</html>
