<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>controllers.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/project/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleController</servlet-name>
    <servlet-class>controllers.RoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleController</servlet-name>
    <url-pattern>/role/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controllers.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>

