@(field: Field, args: (Symbol,String)*)(implicit handler: views.html.helper.FieldConstructor, messages: Messages)

@views.html.helper.input(field, args: _*) { (id, name, value, htmlArgs) =>
  <div class="datetimepicker input-group date" id="datetimepicker_@id" data-lang="@messages.lang.language" data-value="@value" data-name="@name">
    <input class="form-control" size="16" type="text" value="" readonly>
    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
    <input type="hidden" id="@name" name="@name" value="@value" />
  </div>
}

