@(magazine: Form[models.Magazine], action: Call, buttonLabel: String, title: String)(implicit lang: Lang)

@import models.Magazine.helper._

@main(title) {
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@routes.Magazines.index">Magazine</a></li>
    <li class="active">
      @(if (action == routes.Magazines.create) "New magazine" else magazine.value.map(_.name).getOrElse(magazine.data("name")))
    </li>
  </ul>

  <div class="page-header">
    <h1>Magazine</h1>
  </div>
  <div class="col-lg-8">
    @helper.form(action, 'class -> "form-horizontal") {
      <fieldset>
        @inputText(magazine("name"))
      </fieldset>
      <div class="well">
        <button class="btn btn-primary" type="submit">@buttonLabel</button>
        <a href="@routes.Magazines.index" class="btn btn-default">Cancel</a>
      </div>
    }
  </div>
}
