@(message: String)

@main("Index page") {
  <div class="hero-unit">
  <h1>@message</h1>
  </div>

  <div class="row">
    <div class="span4">
      <h2>CRUD Sample</h2>
      <ul id="crud_menu" class="nav nav-pills nav-stacked">
        <li><a href="/user">User</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/role">Role</a></li>
      </ul>
    </div>

    <div class="span4">
      <h2>Relation Sample</h2>
      <ul id="relation_menu" class="nav nav-pills nav-stacked">
        <li><a href="/membership">Membership</a></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#crud_menu li, #relation_menu li").mouseover(function() {
        $(this).addClass("active");
      }).mouseout(function() {
        $(this).removeClass("active");
      });
    });
  </script>
}
