@(ad: models.Ad, magazineId: Long)(implicit lang: Lang)

@main("Ad info") {
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@routes.Magazines.show(magazineId)">Magazine</a></li>
    <li><a href="@routes.Ads.index(magazineId)">@ad.magazine.name</a></li>
    <li class="active">@ad.name</li>
  </ul>

  <div class="page-header">
    <h1>Ad</h1>
  </div>
  <div class="col-lg-8">
    <dl class="dl-horizontal">
      <dt>@Messages("activerecord.models.Ad.name")</dt>
      <dd>@ad.name</dd>
      <dt>@Messages("activerecord.models.Ad.price")</dt>
      <dd>@ad.price</dd>
    </dl>

    <div class="well">
      <a href="@routes.Ads.index(magazineId)" class="btn btn-default">Back</a>
      <a href="@routes.Ads.edit(ad.id, magazineId)" class="btn btn-default">Edit</a>
      <a href="#" data-redirect="@routes.Ads.index(magazineId)" data-target="@routes.Ads.delete(ad.id, magazineId)" class="btn btn-danger">Delete</a>
    </div>
  </div>
}
